<!DOCTYPE html>
<html>
  <head>
    <title>Daisy Metro</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <main>
      <section class="board-wrap">
        <nav class="board-wrap__nav">
          <ul class="board-wrap__nav__list">
            <li class="board-wrap__nav__state">역 내 상황 | 혼잡</li>
            <li class="board-wrap__nav__logo">Daisy Metro</li>
            <li class="board-wrap__nav__passenger">현재 탑승인원 0명</li>
          </ul>
        </nav>

        <div class="board-wrap__text">
          Daisy 님은,,어느 역에서 내리시나효?,,( ͡° ͜ʖ ͡°)
        </div>
        <div class="board-wrap__user">
          <input type="text" class="board-wrap__user__input" />
        </div>
        <div class="board-wrap__geton">
          <button class="board-wrap__geton__btn">승차하기</button>
        </div>
        <div class="board-wrap__img">
          <img
            src="https://data.whicdn.com/images/342939916/original.gif"
            alt=""
            width="700px"
            height="400px"
          />
        </div>
      </section>

      <section class="board-wrap">
        <nav class="board-wrap__nav">
          <ul class="board-wrap__nav__list">
            <li class="board-wrap__nav_state_">역 내 상황 | 혼잡</li>
            <li class="board-wrap__nav__logo">Daisy Metro</li>
            <li class="board-wrap__nav__passenger">현재 탑승인원 0명</li>
          </ul>
        </nav>
        <section class="board-wrap__bet">
          <span class="board-wrap__bet__title">벌칙 👉</span>
          <input type="text" class="board-wrap__bet__input" />
          <button class="board-wrap__bet__btn">등록</button>
          <span class="board-wrap__bet__text">벌칙내용 value</span>
        </section>

        <section class="board-wrap__lines">
          <div class="board-wrap__lines__li" id="line1">
            <span class="board-wrap__lines__li__title">1호선</span>
            <span class="board-wrap__lines__li__text" id="line1-text"
              >10개역 / 난이도 상</span
            >
          </div>
          <div class="board-wrap__lines__li" id="line2">
            <span class="board-wrap__lines__li__title">2호선</span>
            <span class="board-wrap__lines__li__text" id="line1-text"
              >10개역 / 난이도 상</span
            >
          </div>
          <div class="board-wrap__lines__li" id="line3">
            <span class="board-wrap__lines__li__title">3호선</span>
            <span class="board-wrap__lines__li__text" id="line1-text"
              >10개역 / 난이도 상</span
            >
          </div>
          <div class="board-wrap__lines__li" id="line4">
            <span class="board-wrap__lines__li__title">4호선</span>
            <span class="board-wrap__lines__li__text" id="line1-text"
              >10개역 / 난이도 상</span
            >
          </div>
          <div class="board-wrap__lines__li" id="line5">
            <span class="board-wrap__lines__li__title">5호선</span>
            <span class="board-wrap__lines__li__text" id="line1-text"
              >10개역 / 난이도 상</span
            >
          </div>
          <div class="board-wrap__lines__li" id="line6">
            <span class="board-wrap__lines__li__title" id="line6">6호선</span>
            <span class="board-wrap__lines__li__text" id="line1-text"
              >10개역 / 난이도 상</span
            >
          </div>
          <div class="board-wrap__lines__li" id="line7">
            <span class="board-wrap__lines__li__title" id="line7">7호선</span>
            <span class="board-wrap__lines__li__text" id="line1-text"
              >10개역 / 난이도 상</span
            >
          </div>
          <div class="board-wrap__lines__li" id="line8">
            <span class="board-wrap__lines__li__title" id="line8">8호선</span>
            <span class="board-wrap__lines__li__text" id="line1-text"
              >10개역 / 난이도 상</span
            >
          </div>
          <div class="board-wrap__lines__li" id="line9">
            <span class="board-wrap__lines__li__title" id="line9">9호선</span>
            <span class="board-wrap__lines__li__text" id="line1-text"
              >10개역 / 난이도 상</span
            >
          </div>
        </section>
        <section class="board-wrap__start">
          <button class="board-wrap__start__btn">START</button>
        </section>
      </section>
    </main>
    <script type="module" src="/javascripts/main.js"></script>
  </body>
</html>
