<!DOCTYPE html>
<html>
  <head>
    <title>Daisy Metro</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <main>
      <section class="board-wrap">
        <nav class="board-wrap__nav">
          <ul class="board-wrap__nav__list">
            <li class="board-wrap__nav__state">역 내 상황 : 혼잡</li>
            <li class="board-wrap__nav__logo">Daisy Metro</li>
            <li class="board-wrap__nav__passenger">현재 탑승인원 0명</li>
          </ul>
        </nav>

        <div class="board-wrap__text">
          Daisy 님은,,어느 역에서 내리시나효?,,( ͡° ͜ʖ ͡°)
        </div>
        <div class="board-wrap__user">
          <input type="text" class="board-wrap__user__input" />
        </div>
        <div class="board-wrap__geton">
          <button class="board-wrap__geton__btn">승차하기</button>
        </div>
        <div class="board-wrap__img">
          <img
            src="https://data.whicdn.com/images/342939916/original.gif"
            alt=""
            width="700px"
            height="400px"
          />
        </div>
      </section>

      <section class="board-wrap">
        <nav class="board-wrap__nav">
          <ul class="board-wrap__nav__list">
            <li class="board-wrap__nav__state">역 내 상황 : 혼잡</li>
            <li class="board-wrap__nav__logo">Daisy Metro</li>
            <li class="board-wrap__nav__passenger">현재 탑승인원 0명</li>
          </ul>
        </nav>
        <section class="board-wrap__bet">
          <span>벌칙 : </span>
          <input type="text" class="board-wrap__bet__input" />
          <button class="board-wrap__bet__btn">등록</button>
        </section>

        <section class="board-wrap__lines">
          <div><span>1호선</span></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </section>
      </section>
    </main>
    <script type="module" src="/javascripts/main.js"></script>
  </body>
</html>
